.samples-img {
  background: center/cover no-repeat url('../../images/samples-bg.jpg') ;
}

.samples__img {
  border: 2px solid #AAA;
  margin: 10px;
  width: 300px;
  height: 200px;
  box-shadow: 15px 10px 10px #DDD;
  cursor: pointer;
}

.samples__img:hover {
  border-color: #EEE;
}

.samples__images {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.samples__titles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-decoration: underline;
  text-transform: uppercase;
}

.samples__title {
  padding: 10px;
  cursor: pointer;
}

.samples__title:hover {
  opacity: 0.5;
}

.samples__wrapper-slider {
  margin: 20px;
}