.form-order-wrapper {
  box-sizing: border-box;
  width: 100%;
  margin: 30px 0;
  border: 10px solid #808080;

  &_type_popup {
    margin: 0;
    width: auto;
    border-width: 2px;
  }
}

.form-order {
  max-width: 550px;
  margin: 40px auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Ubuntu Condensed", Arial, sans-serif;
  background: white;
  color: #333;
  position: relative;

  &_type_popup {
    max-width: 470px;
    margin: 0;
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
  }

  &__notation {
    text-align: center;
  }

  &__description {
    font-size: 16px;
    text-align: center;
  }

  &__input {
    box-sizing: border-box;
    margin: 10px 0;
    width: 100%;
    padding: 10px 16px;
    font-family: "Ubuntu Condensed", Arial, sans-serif;
    border: 1px solid #BBB;

    &::placeholder {
      opacity: 0.5;
    }

    &_wrong {
      border-color: red;
      color: red;
      outline-color: red;
    }
  }

  &__error {
    color: red;
    font-size: 14px;
    align-self: flex-start;
  }

  &__input-file {
    margin: 10px 0;
  }

  &__btn {
    margin: 20px;
    padding: 15px 25px;
    border: 0;
    border-radius: 3px;
    background: #808080;
    color: white;
    font-size: 20px;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }

  &__reference {
    color: #333;
  }
}
