.form-order-wrapper {
  box-sizing: border-box;
  width: 100%;
  margin: 30px 0;
  border: 10px solid #808080;
}

.form-order {
  max-width: 550px;
  margin: 40px auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Ubuntu Condensed", Arial, sans-serif;
}

.form-order p {
  text-align: center;
}

.form-order__description {
  font-size: 16px;
}

.form-order input {
  margin: 10px 0;
}

.form-order__input {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 16px;
  border: 1px solid #BBB;
}

.form-order__input::placeholder {
  opacity: 0.5;
}

.form-order button {
  margin: 20px;
  padding: 15px 25px;
  border: 0;
  border-radius: 3px;
  background: #808080;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.form-order button:hover {
  opacity: 0.7;
}

.form-order a {
  color: #333;
}